params {
	manifest = "${projectDir}/example/inputs/manifest.csv"
	cwl_file = "${projectDir}/example/workflow/hello_world.cwl"
	registry_username = ""
	registry = "docker.io"
}

docker {
	enabled = true
}

wave.enabled = true


profiles {
	local {
		wave.enabled = false
	}
}

aws.batch.volumes = [ '/var/run/docker.sock:/var/run/docker.sock', '/tmp:/tmp', "${baseDir}:/input" ]
